$color-primary-dark: #65163b; // rgb(101,22,59) tyrian-purple
$color-primary-light: #8c1b38; // rgb(140,27,56) claret

$color-secondary-dark: #ee7722; //rgb(238,119,34) princeton-orange
$color-secondary-light: #eea133; // rgb(238,161,51) marigold
$color-secondary-lighter: #f3af01; //rgb(243,175,1) honey-yellow

$color-tertiary-dark: #e72250; // rgb(231,34,80) amaranth
$color-tertiary-light: #ff33aa; // rgb(255,51,170) light-coral
$color-tertiary-lighter: #ff8b8e; // rgb(255,139,142) newyork-pink

$color-water: #5db6ea; // rgb(93,182,234) aero
$color-water-light: #B3DDF5; // rgb(179,221,245) uranian-blue

$color-white: #fff;
$color-white-shade: #fefefe;
$color-cream: #ECDCB0; // rgb(236,220,176) dutch-white
$color-grey1: #696969; // rgb(105,105,105) dim-gray
$color-grey2: #777; // rgb(119,119,119) sonic-silver
$color-grey3: #999;
$color-black: #000;