div.bar {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-columns: 5% 30% 30% 30%;
  grid-template-rows: 20% 13% 10% 20%;
}

div.guest {
  grid-column: 1 / 2;
  grid-row: span 5;
  background-image: url(../../img/dragon-scales.svg);
  background-size: cover;
}

div.logistics {
  grid-column: 2 / 4;
  grid-row: 1 / 3;
}

div.selection {
  grid-column: 2 / 4;
  grid-row: 3 / 6;
  background-image: url(../../img/subtle-prism.svg);
  background-size: cover;
}

div.information {
  grid-column: 4 / 5;
  grid-row: span 2;
}

div.cashier {
  grid-column: 4 / 5;
  grid-row: 5 / 6;
}


div.page-layout.drinks-selection {
  grid-template-areas: "wine juice soft porch";
  grid-template-columns: 1fr 1fr 2fr 1.85fr;
  div.wine {
    // @include layout-and-background(wine, "../img/wine.jpg", center);
  }

  div.juice {
    // @include layout-and-background(juice, "../img/juice.jpg", top);
    // @include animation-settings(1s);
  }

  div.soft {
    // @include layout-and-background(soft, "../img/soft.jpg", top);
    // @include animation-settings(2s);
    height: 100vh;
    overflow-y: scroll;
    background-image: url(../../img/subtle-prism.svg);
  }

  div.water {
    // @include layout-and-background(water, "../img/water.jpg", unset);
    // @include animation-settings(3s);
  }

  div.porch {
    grid-area: porch;
    background: $color-white-shade;
  }
}
